 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/default-image.jpg');
  background-size: auto 190%;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1975px;
}

.u-section-1 .u-text-1 {
  font-size: 3.5625rem;
  font-weight: 700;
  width: 356px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 889px;
  margin: 72px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1863px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 65px 26px -7px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1427px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -107px;
    margin-left: 224px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 165px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 43px;
    margin-left: 106px;
  }
}